<h1>Detalhes do produto</h1>

<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Alcoólico:</strong>
  <%= @product.alcoholic %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>

<p>
  <strong>Quantidade em estoque:</strong>
  <%= @product.quantity %>
</p>

<p>
  <strong>Preço:</strong>
  R$<%= '%.2f' %  @product.price %>
</p>

<% if in_cart?(@product) %>
  <h4>Produto já consta em seu carrinho.<%= link_to 'Ver', orders_path %></h4>
<% else %>
  <h4>Comprar</h4>
  <%= form_with model: @order do |form| %>
    <div class="field">
      <%= form.label :quantity, 'Quantidade' %>
      <%= form.select :quantity, options_for_select(1..@product.quantity) %>
    </div>

    <div class="field">
      <%= form.label :user_id, 'Usuário:'%>
      <%= form.select :user_id, options_for_select(User.all.map { |user| [user.name, user.id] }) %>
    </div>

    <div class="field">
      <%= form.label :product_id, 'Produto'%>
      <%= form.select :product_id, [[@product.name, @product.id]] %>
    </div>

    <div class="actions">
      <%= form.submit "Adicionar ao carrinho" %>
    </div>

  <% end %>
<% end %>
<p>
  <%= link_to 'Voltar', products_path %>
</p>