<%= stylesheet_link_tag 'sign_in' %>
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "campos") %> incorretos:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3>Detalhes do cliente</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-8">
        <%= form.label :name, 'Nome Completo' %>
        <%= form.text_field :name, class: 'form-control', placeholder: "Seu nome aqui"%>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4">
        <%= form.label :email, 'Email' %>
        <%= form.email_field :email, class: 'form-control', placeholder: "example@email.com" %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :password, 'Senha' %>
        <%= form.password_field :password, class: 'form-control', placeholder: "Sua senha, deve ter 4 caracteres ou mais" %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="form-group col-md-4">
        <%= form.label :cpf, 'CPF' %>
        <%= form.text_field :cpf, class: 'form-control', placeholder: "000.000.000-00" %>
      </div>
      <div class="form-group col-md-4">
        <%= form.label :birth_date, 'Data de nascimento' %>
        <%= form.date_field :birth_date, class: 'form-control', placeholder: "DD/MM/YYYY" %>
      </div>
    </div>
    <%= form.fields_for :addresses do |form_address| %>
      <p></p>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h3>Detalhes do endereço</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-md-4">
          <%= form_address.label :name, 'Apelido do endereço' %>
          <%= form_address.text_field :name, class: 'form-control', placeholder: "Ex: Casa, Trabalho, Casa da minha vó" %>
        </div>
        <div class="form-group col-md-4">
          <%= form_address.label :cep, 'CEP' %>
          <%= form_address.text_field :cep, class: 'form-control', placeholder: "00000-000" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-md-8">
          <%= form_address.label :street, 'Logradouro' %>
          <%= form_address.text_field :street, class: 'form-control', placeholder: "Seu endereço" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-md-8">
          <%= form_address.label :complement, 'Complemento' %>
          <%= form_address.text_field :complement, class: 'form-control', placeholder: "Ex: Centro" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="form-group col-md-4">
          <%= form_address.label :neighborhood, 'Bairro' %>
          <%= form_address.text_field :neighborhood, class: 'form-control', placeholder: "Ex: Cruzeiro Velho" %>
        </div>
        <div class="form-group col-md-2">
          <%= form_address.label :city, 'Cidade' %>
          <%= form_address.text_field :city, class: 'form-control', placeholder: "Ex: Brasília" %>
        </div>
        <div class="form-group col-md-2">
          <%= form_address.label :state, 'Estado' %>
          <%= form_address.text_field :state, class: 'form-control', placeholder: "Ex: Distrito Federal" %>
        </div>
      </div>
    <% end %>

    <div class="row justify-content-center">
      <div id="button-padding" class="col-md-8">
        <% if @user.created_at == nil %>
        <%= form.submit :Cadastrar, class: 'btn btn-success' %>
        <% else %>
          <%= form.submit :Editar, class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>

