<% if current_user %>
  <h1>Carrinho</h1>
  <table>
    <thead>
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Preço total</th>
    </tr>
    </thead>
    <tbody>

      <% @orders.each do |order| %>
        <% if current_user.id == order.user_id %>
          <tr>
            <td><%= @products.find(order.product_id).name %></td>
            <td><%= order.quantity %></td>
            <td>R$<%= '%.2f' % (@products.find(order.product_id).price * order.quantity) %></td>
            <td><%= link_to 'Editar pedido', edit_order_path(order) %></td>
            <td><%= link_to 'Detalhes do pedido', order_path(order) %></td>
            <td><%= link_to 'Excluir pedido', order_path(order), method: :delete, data: { confirm: 'Excluir?' } %></td>
          </tr>
        <% end %>
      <% end %>

    </tbody>
  </table>

  <p>
    <strong>Seu saldo: R$<%= '%.2f' % current_user.balance %></strong>
  </p>

  <p>
    <strong>Valor final: R$<%= '%.2f' % final_price %></strong>

    <%= link_to 'Finalizar Compra', checkout_path, method: :post%>
  </p>
  <p><%= link_to 'Continuar Comprando', products_path %></p>

  <% else %>
    <h5>Logue em sua conta para acessar seu carrinho</h5>
    <%= link_to 'Logar', log_in_path %>
  <% end %>