<h6>Oops...Parece que a página que você está tentando acessar se encontra indisponível, caso deseje comprar algum produto acesse nossa página de produtos:</h6>
<%= link_to "Nossos Produtos", products_path%>
<!--
 <h1>Novo pedido</h1>

<%= form_with model: @order do |form| %>
  <div class="field">
    <%= form.label :quantity, 'Quantidade:' %>
    <%= form.number_field :quantity %>
    </div>

   <div class="field">
     <%= form.label :product_id, 'Produto'%>
     <%= form.select :product_id, options_for_select(Product.all.map { |product| [product.name, product.id] }) %>
   </div>

   <div class="field">
     <%= form.label :user_id, 'Usuário:'%>
     <%= form.select :user_id, options_for_select(User.all.map { |user| [user.name, user.id] }) %>
   </div>

    #descobrir como colocar o maximo dos produtos disponiveis


  <div class="actions">
  <%= form.submit "Finalizar pedido" %>
</div>
<% end %>

 <%= link_to 'Voltar', orders_path %>
!-->