<% if logged_in? %>

    <h1>Endereços</h1>

    <table>
      <thead>
      <tr>
        <th>usuario</th>
        <th>CEP</th>
        <th>Logradouro</th>
        <th>Complemento</th>
        <th>bairro</th>
        <th>localidade</th>
        <th>cidade</th>
        <th>estado</th>
      </tr>
      </thead>

      <tbody>
      <% @address.each do |address| %>
        <tr>
          <% if current_user.adm == true or current_user.id == address.user_id %>
            <td><%= address.user.name %></td>
            <td><%= address.cep %></td>
            <td><%= address.name %></td>
            <td><%= address.street %></td>
            <td><%= address.complement %></td>
            <td><%= address.neighborhood %></td>
            <td><%= address.city %></td>
            <td><%= address.state %></td>
            <td><%= link_to 'Detalhes do endereço', address_path(address) %></td>
            <% if current_user.id == address.user_id %>
              <td><%= link_to 'Editar endereço', edit_address_path(address) %></td>
              <td><%= link_to 'Excluir endereço', address_path(address), method: :delete, data: { confirm: 'Excluir?' } %></td>
            <%end %>
          <% end %>
        </tr>
      <% end %>
  </tbody>
  <td><%= link_to 'Novo endereço', new_address_path %></td>
</table>
<% else %>
<h4 style="color: red">Oops...Parece que você não está logado</h4>
<%= link_to 'Logar', log_in_path %>
<% end %>