<h1>Pedidos</h1>

<table>
  <thead>
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Preço total</th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.product_id %></td>
      <td><%= order.quantity %></td>
      <td><%= %></td>
      <td><%= link_to 'Editar pedido', edit_order_path(order) %></td>
      <td><%= link_to 'Novo pedido', new_order_path(order) %></td>
      <td><%= link_to 'Excluir pedido', order_path(order), method: :delete, data: { confirm: 'Excluir?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
