<h1>Pedidos</h1>

<table>
  <thead>
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Preço total</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.product.name %></td>
      <td><%= order.quantity %></td>
      <td><%= %></td>
      <td><%= link_to 'Detalhes', order_path(order) %></td>
      <td><%= link_to 'Editar', edit_order_path(order) %></td>
      <td><%= link_to 'Deletar', order_path(order), method: :delete, data: { confirm: 'Deletar?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
