<h1>Detalhes do pedido</h1>

    <p>
      <strong>Produto:</strong>
      <%= @product.name %>
    </p>
    
    <p>
      <strong>Quantidade:</strong>
      <%= @order.quantity %>
    </p>

    <p>
      <strong>Preço Total:</strong>
      R$<%= '%.2f' % @total_value %>
    </p>

    <p>
      <strong>Preço Individual:</strong>
      R$<%= '%.2f' % @product.price %>
    </p>

    <%= link_to 'Editar', edit_order_path(@order) %>
    <%= link_to 'Voltar', orders_path %>