<p id="notice"><%= notice %></p>

<p>
<strong>Nome:</strong>
<%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%= @user.birth_date %>
</p>

<p>
  <strong>Cryptrd password:</strong>
  <%= @user.crypted_password %>
</p>

<p>
  <strong>Endereco:</strong>
  <% @user.addresses.each do |address|  %>
    <%= address.name %>
  <% end %>
    </p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
