<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/f9680fb690.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>

<!-- Main navigation -->
<header>
  <!-- Full Page Intro -->
  <div class="view" style="background-color: #ffffff;">
    <!-- Mask & flexbox options-->
    <div class="container position">
      <div class="d-flex flex-row mb-3">
        <div class="row justify-content-md-center">
          <h4>Filtros:</h4>
          <%= form_with model: @category do |form| %>
            <div class="field">
              <%= form.select :name, options_for_select(@categories.map { |category| [category.name, category.id] }) %>
            </div>
          <% end %>
          <!-- Main -->
          <div class="container">
            <% @products.each do |product| %>
              <div class="row">
                <div class="col-md-4">
                  <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="https://3.imimg.com/data3/IC/JO/MY-9839190/organic-lemon-250x250.jpg" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title"><%= product.name %></h4>
                      <p class="card-text"><%= product.brand %></p>
                      <p class="card-text"><small class="text-muted"><%= product.volume %></small></p>
                      <p class="card-text"><%= product.price %>
                        <a href="#" data-name="<%= product.name %>" data-price="<%= product.price %>" data-code="<%= product.id %>" class="add-to-cart btn btn-primary">+</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Carrinho</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="show-cart table">

            </table>
            <div>Total: R$<span class="total-cart"></span></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button id="submit_button" type="button" class="btn btn-primary" onclick="checkout()">Finalizar pedido</button>
            <button class="clear-cart btn btn-danger">Limpar carrinho</button>
          </div>
        </div>
      </div>
    </div>

  </div>


</header>

</body>
</html>


<%= javascript_include_tag "application" %>
