<h1>Novo Produto</h1>

<%= form_with model: @product do |form| %>
  <div class="field">
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name, value: @product.name %>
  </div>

  <div class="field">
    <%= form.label :alcoholic, 'Alcoólico?' %>
    <%= form.select :alcoholic, [['Sim', true], ['Não', false]] %>
  </div>

  <div class="field">
    <%= form.label :categoy_id, 'Categoria' %>
    <%= form.select :category_id, options_for_select(Category.all.map { |category| [category.name, category.id] }) %>
  </div>

  <div class="field">
    <%= form.label :quantity, 'Estoque' %>
    <%= form.number_field :quantity, value: @product.quantity %>
  </div>


  <div class="field">
    <%= form.label :price, 'Preço' %>
    <%= form.number_field :price, step: :any, value: @product.price %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit "Atualizar produto" %>
  </div>

<% end %>